.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  .product-details {
    border: 1px solid #eaeaea;
    max-width: 340px;
    width: 100%;
    height: 300px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 1px 1px 1px #eaeaea;

    .name-product {
      height: 100px;
      overflow: hidden;
      margin-bottom: 10px;

      h1 {
        font-weight: 500;
        font-size: 22px;
      }
    }

    .price-product {
      display: flex;
      flex-direction: column;

      span {
        font-size: 36px;
        font-weight: 100;

        &.price-was {
          font-size: 12px;
          text-decoration: line-through;
        }
      }
    }

    .cta-product {
      width: 100%;
      margin-top: 50px;

      .btn-primary {
        width: 100%;
        padding: 10px;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        border: 1px solid #000;
      }
    }
  }
}

.description {
  max-width: 1100px;
  width: 100%;
  margin: 20px auto;
  border-top: 1px solid #eaeaea;
  padding: 20px;
}