.card {
  border: 1px solid #eaeaea;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 1px #eaeaea;
  height: 230px;
  width: 200px;
  background-color: #fff;

  .card-image {
    border-bottom: 1px solid #eaeaea;
  }

  .card-title {
    font-weight: 400;
    font-size: 12px;
    margin: 10px 0;
    height: 30px;
    white-space: wrap;
    overflow: hidden;
  }

  .card-price {
    font-weight: bold;
    margin-top: 30px;
  }
}